body {
	font-family: 'lato', sans-serif !important;
	/*background-color: #ffffff;*/
	padding: 0;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(9, 9, 16, .7)
}

.topbar {
	padding: 0px 0;
	color: #5c5c5c;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	font-size: 13px;
	line-height: 1;
	background-color: #95c522
}

.navbar-brand {
	color: #ffffff
}
.navbar-brand img {
	width: 250px
}

/*.navbar-nav li {
	padding: 10px
}*/

.navbar-nav li a {
	color: #ffffff;
	/*font-weight: bold;*/
	font-size: 14px;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 20px 20px
}
.p-b-30 {
	padding-bottom:30px;
}
.padding-10 {
	padding: 10px 0;
}
.padding-100 {
	padding: 100px 0;
}

.main-bg {
	width: 100%;
	background-image: url(../images/home.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*height: 500px;*/
}

.enquiry-form {
	background: #0000006b;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	padding: 25px;
	margin-bottom: 25px

}

.layout-title {
	padding: 1.5rem 0;
}

.card {
	padding: 2rem;
	border: none;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	margin-bottom: 30px;
}

h2.featured.alt:before {
	left: 0;
}

.light-white {
	background-color: #FAFBFF;
}

.about-us p {
	padding-top: 20px;
}

.bg-light-grey-color {
	background-color: #e9ecef
}
.bg-white {
	background-color: #ffffff
}

.padding-20 {
	padding: 20px 0px;
}

.main-title {
	color: #4A3A19;
	font-size: 35px;
	font-weight: bold;
	padding-top: 15px;
}

.sub-title {
	text-transform: uppercase;
	color: #B9B6B6;
	font-size: 14px;
}

.text {
	text-transform: initial;
	color: #7A839E;
	font-size: 15px;
	line-height: 1.7;
}

.card_featured {
	border-radius: 5px;
	min-height: 310px;
	background-color: #fff;
}

.about-img {
	box-shadow: 5px 5px 25px #b3c5de9c;
	border-radius: 3px;
}

.card_featured:hover {
	box-shadow: 5px 5px 25px #b3c5de9c;
}

.card_featured img {
	padding:10px;
}

.card_featured .border {
	width: 60px;
	border: 2px solid;
	margin: 0px auto;
	margin-bottom: 15px;
}

.card_featured h4 {
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

.card_featured_1 .border {
	margin-left: 0px !important;
	margin-top: 20px;
}

.card_featured_1 {
	min-height: auto;
}

.card_featured_1 img {
	width: 100%;
}

.card_featured_1 {
    border-radius: 5px;
	min-height: 200px;
	background-color: #e9ecef
}
.card_featured_1 i {
text-align: center;
    font-size: 35px;
    color: green;
    display: block;
    padding: 25px 25px 10px 25px;
}

.footer {
	background-color: #1d2390
}

.navbar-toggler-icon {
	cursor: pointer;
	background-image: url('../images/menu-toggle.png');
}

@media screen and (max-width: 1024px) {
	.navbar {
		background-color: #ffffff;
	}
	.navbar-nav li a {
		color: #000000;
	}
}

.carousel-item {
	height: 400px;
}

@media screen and (max-width: 720px) {
	.carousel-item {
		height: 600px;
	}
}